<!doctype html>
<html lang="en">
   {% load static %}
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- favicon -->
      <link rel="icon" type="image/png" href="{% static "assets/images/FTM.png" %}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static "assets/vendors/bootstrap/css/bootstrap.min.css" media="all" %}">
      <!-- jquery-ui css -->
      <link rel="stylesheet" type="text/css" href="{% static "assets/vendors/jquery-ui/jquery-ui.min.css" %}">
      <!-- fancybox box css -->
      <link rel="stylesheet" type="text/css" href="{% static "assets/vendors/fancybox/dist/jquery.fancybox.min.css" %}">
      <!-- Fonts Awesome CSS -->
      <link rel="stylesheet" type="text/css" href="{% static "assets/vendors/fontawesome/css/all.min.css" %}">
      <!-- Elmentkit Icon CSS -->
      <link rel="stylesheet" type="text/css" href="{% static "assets/vendors/elementskit-icon-pack/assets/css/ekiticons.css" %}">
      <!-- slick slider css -->
      <link rel="stylesheet" type="text/css" href="{% static "assets/vendors/slick/slick.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "assets/vendors/slick/slick-theme.css" %}">
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&amp;family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&amp;display=swap" rel="stylesheet">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{% static "assets/style.css" %}">

      <title>Fake Product Identification System</title>
   </head>
   <body class="home">
      <div id="siteLoader" class="site-loader">
         <div class="preloader-content">
            <img src="{% static "assets/images/loader1.gif" %}" alt="">
         </div>
      </div>
      <div id="page" class="page">
         <!-- site header html start  -->
         <header id="masthead" class="site-header">
            <!-- header html start -->
            <div class="top-header">
               <div class="container">
                  <div class="top-header-inner">
                     <div class="header-contact text-left">
                        <a href="telto:07085427519">
                           <i aria-hidden="true" class="icon icon-phone-call2"></i>
                           <div class="header-contact-details d-none d-sm-block">
                              <span class="contact-label">For Further Inquires :</span>
                              <h5 class="header-contact-no">07085427519</h5>
                           </div>
                        </a>
                     </div>
                     <div class="site-logo text-center">
                        <h1 class="site-title">
                           <a href="{% url 'index' %}">
                              <img src="{% static "assets/images/FTM.png" %}" alt="Logo">
                           </a>
                        </h1>
                     </div>
                     <div class="header-icon text-right">
                        <div class="header-search-icon d-inline-block">
                           
                        </div>
                        <div class="offcanvas-menu d-inline-block">
                           <a href="#">
                              <i aria-hidden="true" class="icon icon-burger-menu"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bottom-header">
               <div class="container">
                  <div class="bottom-header-inner d-flex justify-content-between align-items-center">
                     <div class="header-social social-icon">
                        <ul>
                           <li>
                              <a href="https://www.facebook.com/" target="_blank">
                                 <i class="fab fa-facebook-f" aria-hidden="true"></i>
                              </a>
                           </li>
                           <li>
                              <a href="https://www.twitter.com/" target="_blank">
                                 <i class="fab fa-twitter" aria-hidden="true"></i>
                              </a>
                           </li>
                           <li>
                              <a href="https://www.youtube.com/" target="_blank">
                                 <i class="fab fa-youtube" aria-hidden="true"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                     <div class="navigation-container d-none d-lg-block">
                        <nav id="navigation" class="navigation">
                           <ul>
                              <li class="menu-active">
                                 <a href="{% url 'index' %}">Home</a>
                              </li>
                              <li>
                                 <a href="{% url 'about' %}">about us</a>
                              </li>
                              <li>
                              {% if request.user.is_authenticated %}
                                 <a href="{% url 'products:product_create' %}">Create Product</a>
                              {% endif %}
                              </li>
                              <li>
                                 <form class="newsletter" method="POST" action="{% url 'products:search' %}"> {% csrf_token %}
                                    <input class='px-5 my-2' required type="text" name="pk" placeholder="Enter Product Serial NO">
                                    <button type="submit" class="outline-btn outline-btn-dark mx-2 px-3 py-2">Search</button>
                                 </form>
                              </li>
                           </ul>
                        </nav>
                     </div>
                     <div class="header-btn">
                     {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="round-btn">LOGOUT</a>
                     {% else %}
                        <a href="{% url 'register' %}" class="round-btn">REGISTER</a>
                     {% endif %}
                     </div>
                  </div>
               </div>
            </div>
            <div class="mobile-menu-container"></div>
         </header>
         <!-- site header html end  -->
         <main id="content" class="site-main">
            <!-- ***home banner html start form here*** -->
            <section class="home-banner-section home-banner-slider">
               <div class="home-banner d-flex flex-wrap align-items-center" style="background-image: url({% static "assets/images/fake_product_01_02.jpg" %});">
                  <div class="overlay"></div>
                  <div class="container">
                     <div class="banner-content text-center">
                        <div class="row">
                           <div class="col-lg-8 offset-lg-2">
                              <h2 class="banner-title">FAKE PRODUCT IDENTIFICATION SYSTEM (fakie)</h2>
                              <p>Welcome to the Product Identification System! 

We are an innovative product identification system that provides unique identification codes for all your products. Our system is designed to streamline your product tracking process, so you can focus on the important things, like selling and marketing your products. 
</p>
                              <div class="banner-btn">
                                 <a href="{% url 'about' %}" class="round-btn">LEARN MORE</a>
                                 <a href="{% url 'register' %}" class="outline-btn outline-btn-white">REGISTER</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="home-banner d-flex flex-wrap align-items-center" style="background-image: url({% static "assets/images/images.jpg" %});">
                  <div class="overlay"></div>
                  <div class="container">
                     <div class="banner-content text-center">
                        <div class="row">
                           <div class="col-lg-8 offset-lg-2">
                              <h2 class="banner-title">FAKIE</h2>
                              <p>Our comprehensive system allows you to assign a unique code to each product, making it easy to track and manage your inventory. Our system also provides reporting features, so you can see exactly how your products are selling at any given time. </p>
                              <div class="banner-btn">
                                 <a href="about.html" class="round-btn">LEARN MORE</a>
                                 <a href="{% url 'register' %}" class="outline-btn outline-btn-white">BOOK NOW</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>

        
         <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
         </a>
         <!-- ***custom search field html*** -->
         <div class="header-search-form">
            <div class="container">
               <div class="header-search-container">
                  <form class="search-form" role="search" method="get" >
                     <input type="text" name="s" placeholder="Enter your text...">
                  </form>
                  <a href="#" class="search-close">
                     <i class="fas fa-times"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- ***custom search field html*** -->
         <!-- ***custom top bar offcanvas html*** -->
         <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
               <div class="offcanvas-sidebar">
                  <aside class="widget author_widget">
                     <h3 class="widget-title">OUR PROPRIETOR / PROGRAMMER</h3>
                     <div class="widget-content text-center"> 
                        <div class="profile"> 
                           <figure class="avatar"> 
                              <img src="{% static "assets/images/img21.jpg" %}" alt=""> 
                           </figure> 
                           <div class="text-content"> 
                              <div class="name-title"> 
                                 <h4> Agbo Emmanuel ThankGod</h4> 
                              </div> 
                              <p>A software engineer that enjoys writing code and turning concepts into programs. Using Django (Python), I just created a website that gives IT newcomers a better knowledge of what they are getting into and a better road map to make the journey easier. I'd love to continue creating wonderful websites by fusing my love of learning with my expertise in software development.</p> 
                           </div> 
                           <div class="socialgroup"> 
                              <ul> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li> 
                              </ul> 
                           </div> 
                        </div> 
                     </div>
                  </aside>
                  <aside class="widget widget_text text-center">
                     <h3 class="widget-title">CONTACT US</h3>
                     <div class="textwidget widget-text">
                        <p>Feel free to contact and<br/> reach us !!</p>
                        <ul>
                           <li>
                              <a href="tel:+07085427519">
                                 <i aria-hidden="true" class="icon icon-phone1"></i>
                                 +234 708 542 7519
                              </a>
                           </li>
                           <li>
                              <a href="mailtop:agboemmanuel002@gmail.com">
                                 <i aria-hidden="true" class="icon icon-envelope1"></i>
                                 agboemmanuel002@gmail.com
                              </a>
                           </li>
                           <li>
                              <i aria-hidden="true" class="icon icon-map-marker1"></i>
                              No 3 CJ Illechukwu Street New GRA ENUGU
                           </li>
                        </ul>
                     </div>
                  </aside>
               </div>
               <a href="#" class="offcanvas-close">
                  <i class="fas fa-times"></i>
               </a>
            </div>
            <div class="overlay"></div>
         </div>
         <!-- ***custom top bar offcanvas html*** -->
      </div>

      <!-- JavaScript -->
      <script src="{% static "assets/vendors/jquery/jquery.js" %}"></script>
      <script src="{% static "assets/vendors/waypoint/waypoints.js" %}"></script>
      <script src="{% static "assets/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
      <script src="{% static "assets/vendors/jquery-ui/jquery-ui.min.js" %}"></script>
      <script src="{% static "assets/vendors/countdown-date-loop-counter/loopcounter.js" %}"></script>
      <script src="{% static "assets/vendors/counterup/jquery.counterup.min.js" %}"></script>
      <script src="../../../unpkg.com/imagesloaded%404.1.4/imagesloaded.pkgd.min.js"></script>
      <script src="{% static "assets/vendors/masonry/masonry.pkgd.min.js" %}"></script>
      <script src="{% static "assets/vendors/slick/slick.min.js" %}"></script>
      <script src="{% static "assets/vendors/fancybox/dist/jquery.fancybox.min.js" %}"></script>
      <script src="{% static "assets/vendors/slick-nav/jquery.slicknav.js" %}"></script>
      <script src="{% static "assets/js/custom.min.js" %}"></script>
   </body>

</html>