<!doctype html>
<html lang="en">
{% load static %}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <link rel="icon" type="image/png" href="{% static "assets/images/FTM.png" %}">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
	<script>
		var BASE_URL = 'https.html\u003A\u002F\u002Fblueskytechmage.com\u002Foutstock_v2\u002Fen1\u002F';
		var require = {
			'baseUrl': 'https\u003A\u002F\u002Fblueskytechmage.com\u002Foutstock_v2\u002Fstatic\u002Fversion1640224145\u002Ffrontend\u002Fbluesky\u002Fbluesky_outstock_funiture_01\u002Fen_US'
		};</script>
	<meta charset="utf-8" />
	<meta name="title" content="Fake Product identification system" />
	<meta name="description"
		content="Fake Product identification system Le moulin à poivre et a sel en forme de bouteille ne sert pas seulement pour le sel et le poivre. Cette bouteille s&#039;apparente à un moulin à épices avec lequel vous pouvez moudre des épices inhabituelles.&nbsp;En plus de son d" />
	<meta name="keywords" content="Fake Product identification system" />
	<meta name="robots" content="INDEX,FOLLOW" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="format-detection" content="telephone=no" />
	<title>Fake Product identification system</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="{% static 'main/5536a87003eb03185e966af39139921a.min.css' %}" />
	<link rel="stylesheet" type="text/css" media="print" href="{% static 'main/print.min.css' %}" />
	<script type="text/javascript" src="{% static 'main/script.min.js' %}"></script>
	<link rel="icon" type="image/x-icon" href="../media/favicon/stores/1/favi.png" />
	<link rel="shortcut icon" type="image/x-icon" href="../media/favicon/stores/1/favi.png" />
      <link rel="stylesheet" type="text/css" href="{% static "assets/style.css" %}">
      <link rel="stylesheet"type="text/css" media="print" href="{% static "assets/print.css" %}" />

	<link
		href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CPoppins:300,300i,400,400i,500,500i,700,700i%7CRubik:300,300i,400,400i,500,500i,700,700i%7CPoppins:300,300i,400,400i,500,500i,700,700i&amp;subset=latin-ext&amp;display=swap"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="all"
		href="../media/rokanthemes/theme_option/custom_en18c7a.css?v=1623858698">
	<style>
		.lazyload-image .not-found-img img[data-src] {
			padding-top: calc(499px / 556 * 100);
		}



.cookiesContent {
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
}
  a.close {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
  }
  .cookiesContent img {
    width: 82px;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 40px;
    font-size: 18px;
  }
  .cookiesContent input.accept {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  }
  
.mpopup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 0.3rem;
}
.modal-header {
    padding: 2px 12px;
    background-color: #ffffff;
    color: #333;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-header h2{
    font-size: 1.25rem;
    margin-top: 14px;
    margin-bottom: 14px;
}
.modal-body {
    padding: 2px 12px;
}
.modal-footer {
    padding: 1rem;
    background-color: #ffffff;
    color: #333;
    border-top: 1px solid #e9ecef;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    text-align: right;
}

.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* add animation effects */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

		
	</style>
	<script type="text/x-magento-init">
        {
            "*": {
                "Magento_PageCache/js/form-key-provider": {}
            }
        }
    </script>

	<meta property="og:type" content="product" />
	<meta property="og:title" content="Bottle&#x20;Grinder&#x20;With&#x20;Steel&#x20;Lid" />
	<meta property="og:image"
		content="https://blueskytechmage.com/outstock_v2/media/catalog/product/cache/f9f7f53f9fef23147b27f3b915590728/4/-/4-1.jpg" />
	<meta property="og:description"
		content="&#x0D;&#x0A;&#x0D;&#x0A;Typi&#x20;non&#x20;habent&#x20;claritatem&#x20;insitam,&#x20;est&#x20;usus&#x20;legentis&#x20;in&#x20;iis&#x20;qui&#x20;facit&#x20;eorum&#x20;claritatem.&#x20;Investigationes&#x20;demonstraverunt&#x20;lectores&#x20;legere&#x20;me&#x20;lius&#x20;quod&#x20;ii&#x20;legunt&#x20;saepius.&#x20;Claritas&#x20;est&#x20;etiam&#x20;processus.&#x0D;&#x0A;&#x0D;&#x0A;" />
	<meta property="og:url" content="https://blueskytechmage.com/outstock_v2/en1/bottle-grinder-with-steel-lid.html" />
	<meta property="product:price:amount" content="100" />
	<meta property="product:price:currency" content="USD" />
</head>

<body data-container="body" id="html-body" itemtype="http://schema.org/Product" itemscope="itemscope"
	class="bluesky-page-preloader page-product-configurable catalog-product-view product-bottle-grinder-with-steel-lid categorypath-shop category-shop page-layout-1column">




	<div class="page-wrapper lazyload-image">
		<header class="page-header">
			<div class="header-container layout-1">
				<div class="header-middle sticky-header center-element">
					<div class="container">
						<div class="flex-layout for-full-width-menu space-between center_vertical">
							<div class="logo-container">
								<div class="logo-site">
									<span data-action="toggle-nav" class="action nav-toggle"><span>Toggle
											Nav</span></span>
									<a class="logo" href="{% url 'index' %}" title="logo" aria-label="store logo">
										<img src="{% static 'main/FTMblack.png'%}" title="logo" alt="logo" />
									</a>
								</div>
							</div>
							<div class="col-menu-on-left flex-layout col-menu">
								<div class="primary-menu-container col-left">
									<span data-action="toggle-nav"
										class="action nav-toggle d-xl-none sticky-toggle"><span>Toggle Nav</span></span>
									<div class="navigation custommenu main-nav nav-sections" role="navigation">

										<div class="menu-mobile-title d-block d-xl-none">Menu<a href="#"
												id="close-menu"></a></div>
										<ul>
											<li class="ui-menu-item level0 classic"><a class="level-top"
													href="{% url 'index' %}">Home</a></li>
											<li class="ui-menu-item level0 classic "><a class="level-top"
													href="{% url "about"%}"> About US </a></li>
										</ul>
									</div>

									<script>
										require([
											'jquery',
											'rokanthemes/custommenu'
										], function ($) {
											$(".custommenu").CustomMenu();
										});
									</script>
								</div>
							</div>
							<div class="col-action col-right show-on-sticky flex-layout">
								<ul class="flex-layout action-header">
									<li class="block_search">
									</li>

									<li class="setting-view">
										<span class="ion ion-navicon"></span>
									</li>
								</ul>
							</div>
							<div class="header-setting">
								<div class="settings-head">
									<div class="settings-close"><span class="main-icon-close"></span></div>
								</div>
								<div class="settings-inner">
									<ul class="header links">
										<li class="link authorization-link" data-label="or">
											<a
												href="customer/account/login/referer/aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL291dHN0b2NrX3YyL2VuMS9ib3R0bGUtZ3JpbmRlci13aXRoLXN0ZWVsLWxpZC5odG1s/index.html">Sign
												In
											</a>
										</li>
										<li>
											<a href="{% url 'register' %}" id="idxZ3HxrJ0">Create an
												Account</a>
										</li>
									</ul>
									{% comment %} <div class="language-currency">
										<div class="container-setting-language-currency">
											<div class="switcher language switcher-language"
												data-ui-id="language-switcher" id="	switcher-language">
												<strong class="label switcher-label">
													<span>Language</span>
												</strong>
											</div>
										</div>
									</div> {% endcomment %}
									<div class="settings-contact">
										<h3 class="title-setting">Contact</h3>
										<div class="contact-info-wrap">
											<div class="contact-info">
												<div class="icon"><span class="main-icon-plane-paper">&nbsp;</span>
												</div>
												<div class="content">No. 3 Illechukwu Street New GRA ENUGU NIGERIA</div>
											</div>
											<div class="contact-info">
												<div class="icon"><span class="main-icon-phone-call1">&nbsp;</span>
												</div>
												<div class="content">Call: <a href="tel:+1(202)861-5567">+234 708 452 7519</a></div>
											</div>
											<div class="contact-info">
												<div class="icon"><span class="main-icon-envelope">&nbsp;</span></div>
												<div class="content">Email: <a
														href="mailto:agboemmanuel002@gmail.com">agboemmanuel002@gmail.com</a></div>
											</div>
										</div>
									</div>
									<div class="setting-social">
										<h3 class="title-setting">Connect on Social :</h3>
										<ul class="social-link flex-layout">
											<li>
												<a href="https://facebook.com/" target="_blank" rel="noopener">
													<span class="icon fab fa-facebook-f">
														<span class="text">Facebook</span>
													</span>
												</a>
											</li>
											<li>
												<a href="https://twitter.com/" target="_blank" rel="noopener">
													<span class="icon fab fa-twitter">
														<span class="text">Twitter</span>
													</span>
												</a>
											</li>
											<li>
												<a href="https://instagram.com/" target="_blank" rel="noopener">
													<span class="icon fab fa-instagram">
														<span class="text">Instagram</span>
													</span>
												</a>
											</li>
											<li>
												<a href="https://dribbble.com/" target="_blank" rel="noopener">
													<span class="icon fab fa-dribbble">
														<span class="text">Dribbble</span>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				require(['jquery'], function ($) {
					$(document).ready(function () {
						$('.setting-view').click(function () {
							$(this).toggleClass('open-setting');
							var hClass = $(this).hasClass('open-setting');
							if (hClass) {
								$(this).parents('body').find('.header-setting').addClass('box-setting');
							} else {
								$(this).parents('body').find('.header-setting').removeClass('box-setting');

							}
						});
						$('.settings-close').click(function () {
							$(this).parents('body').find('.header-setting').removeClass('box-setting');
							$(this).parents('body').find('.setting-view').removeClass('open-setting');
						});
					});
					$(function () {
						$('body').each(function () {
							var hClass = $(this).hasClass('cms-index-index');
							if (!hClass) {
								$("#sticky-home").addClass("sticky-header");
							}
						});
					});
				});
			</script>
			<div class="panel wrapper">
				<div class="panel header"><a class="action skip contentarea" href="#contentarea">
						<span>
							Skip to Content </span>
					</a>
				</div>
			</div>
		</header>
		<div class="breadcrumbs"></div>
		<script type="text/x-magento-init">
			{
				".breadcrumbs": {
					"breadcrumbs": {"categoryUrlSuffix":".html","useCategoryPathInUrl":0,"product":"Fake Product identification system"}        }
			}
		</script>
		<main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>
			<div class="page messages">
				<div data-placeholder="messages"></div>
				<div data-bind="scope: 'messages'">
					<!-- ko if: cookieMessages && cookieMessages.length > 0 -->
					<div aria-atomic="true" role="alert" data-bind="foreach: { data: cookieMessages, as: 'message' }"
						class="messages">
						<div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
							<div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
						</div>
					</div>
					<!-- /ko -->

					<!-- ko if: messages().messages && messages().messages.length > 0 -->
					<div aria-atomic="true" role="alert" class="messages" data-bind="foreach: {
        data: messages().messages, as: 'message'
    }">
						<div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
							<div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
						</div>
					</div>
					<!-- /ko -->
				</div>
				<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                        "messages": {
                            "component": "Magento_Theme/js/view/messages"
                        }
                    }
                }
            }
    }
</script>
			</div>
			{% if products %}
			{% for item in products %}
			<div class="columns">
				<div class="column main">
					<div class="product-main-content">
						<div class="product media"><a id="gallery-prev-area" tabindex="-1"></a>
							<div class="gallery-placeholder _block-content-loading"
								data-gallery-role="gallery-placeholder">
								{% comment %} <a  href="/project/download" download> Download Document </a> {% endcomment %}
								{% if item.product_image %}
								<img alt="main product photo" class="gallery-placeholder__image" src="{{item.product_image.url}}" />
								{% else %}
									<img alt='Product Image' class="gallery-placeholder__image" src='{% static 'main/Building.jpg' %}'>
								{% endif %}
							</div>
							
						</div>
						<div class="product-info-main">
							<div class="page-title-wrapper&#x20;product">
								<h1 class="page-title">
									<span class="base" data-ui-id="page-title-wrapper" itemprop="name">Fake Product identification system</span>
								</h1>
							</div>
							<div class="product-reviews-summary" itemscope itemtype="http://schema.org/AggregateRating">
								<div class="rating-summary" >
									<h5 style='color:red;'>NOTE: Clients should make sure that the picture of the barcode scanned</h5><h5 style='color:red;'> is a first hand printed photo</h5>
								</div>
								<div class="">
									<p> {{item.product_name}}</p>
								</div>
								{% if request.user.is_authenticated %}
								<div class="print">
									<img alt='Barcode' style='width:100px; height:100px; margin-left:50px;' src="/media/{{item.barcode.url}}" />
								</div>
								<div>
								<button style="padding:5px; margin: 5px 10px;"><a  href="/media/{{item.barcode.url}}" download> Download Barcode </a></button>
								<button  style="padding:5px 15px; margin: 5px 10px; float:left;" onclick="printImg('/media/{{item.barcode.url}}')" /> Print Barcode</button>
								</div>
								{% endif %}
							</div>
							<div class="product-info-price">
								<div class="price-box price-final_price" data-role="priceBox" data-product-id="4"
									data-price-box="product-id-4"><span class="normal-price">


										<span class="price-container price-final_price&#x20;tax&#x20;weee">
											<span class="">Product Serial Number ----</span>
											<span id="product-price-4" data-price-amount="NOT FOUND"
												data-price-type="finalPrice" class="price-wrapper "><span
													class="price">{{item.product_id}}</span></span>
										</span>
									</span>
										<br>
										<br>
									<span class="price-container price-final_price&#x20;tax&#x20;weee">
										<span class="">Product Production Date ----</span>
										<span id="product-price-4" data-price-amount="NOT FOUND"
											data-price-type="finalPrice" class="price-wrapper "><span
												class="price">{{item.production_date}}</span></span>
									</span>
									<br>
										<br>
									<span class="price-container price-final_price&#x20;tax&#x20;weee">
										<span class="">Product Expiration Date ----</span>
										<span id="product-price-4" data-price-amount="NOT FOUND"
											data-price-type="finalPrice" class="price-wrapper "><span
												class="price">{{item.expiry_date}}</span></span>
									</span>

								</div>
							</div>
							{% comment %} <div class="share-dialog">
								{% if item.sold_date == null %}
								<a href="#"><span
										class="btn btn-dark"><span class="text">Sold</span></span></a>
								<a href="#"><span
										class="btn btn-default"><span class="text">Something Stores</span></span></a>
								{% endif %}
							</div> {% endcomment %}
							<div class="stock available" title="Availability">
								<span>In stock</span>
							</div>
							<div class="availability only configurable-variation-qty" title="Qty">

							</div>

							<div class="product attribute overview">
								<div class="value" itemprop="description">
									<div class="delivery-info">
										<div class="product-delivery-information">
											<p class="delivery-information restock">{{item.product_description}}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="product-add-form">

								<div class="fieldset" tabindex="0">
									<div class="swatch-opt" data-role="swatch-options"></div>



								</div>
							</div>

							<div id="instant-purchase" data-bind="scope:'instant-purchase'">
								<!-- ko template: getTemplate() --><!-- /ko -->
							</div>

						</div>
					</div>
				</div>


			</div>
			{% endfor %}
			{% else %}
				<div class="columns">
				<div class="column main">
					<div class="product-main-content">
						<div class="product media"><a id="gallery-prev-area" tabindex="-1"></a>
							<div class="gallery-placeholder _block-content-loading"
								data-gallery-role="gallery-placeholder">
								<img alt="main product photo" class="gallery-placeholder__image" src="{% static "main/down.jpg"%}" />
							</div>
							
						</div>
						<div class="product-info-main">
							<div class="page-title-wrapper&#x20;product">
								<h1 class="page-title">
									<span class="base" data-ui-id="page-title-wrapper" itemprop="name">Fake Product identification system</span>
								</h1>
							</div>
							<div class="product-reviews-summary" itemscope itemtype="http://schema.org/AggregateRating">
								<div class="rating-summary" >
									<h5 style='color:red;'>NOTE: THIS PRODUCT IS FAKE</h5><h5 style='color:blue;'> ALLOW US ACCESS YOUR LOCATION FOR PROPER ACTION</h5>
								</div>
								<div class="">
									<p> {{item.product_name}}</p>
								</div>
							</div>
							<div class="product-info-price">
								<div class="price-box price-final_price" data-role="priceBox" data-product-id="4"
									data-price-box="product-id-4"><span class="normal-price">


										<span class="price-container price-final_price&#x20;tax&#x20;weee">
											<span class="">Product Serial Number ----</span>
											<span id="product-price-4" data-price-amount="NOT FOUND"
												data-price-type="finalPrice" class="price-wrapper "><span
													class="price">NOT FOUND</span></span>
										</span>
									</span>
										<br>
										<br>
									<span class="price-container price-final_price&#x20;tax&#x20;weee">
										<span class="">Product Production Date ----</span>
										<span id="product-price-4" data-price-amount="NOT FOUND"
											data-price-type="finalPrice" class="price-wrapper "><span
												class="price">NOT FOUND</span></span>
									</span>
									<br>
										<br>
									<span class="price-container price-final_price&#x20;tax&#x20;weee">
										<span class="">Product Expiration Date ----</span>
										<span id="product-price-4" data-price-amount="NOT FOUND"
											data-price-type="finalPrice" class="price-wrapper "><span
												class="price">NOT FOUND</span></span>
									</span>

								</div>
							</div>
							{% comment %} <div class="share-dialog">
								{% if item.sold_date == null %}
								<a href="#"><span
										class="btn btn-dark"><span class="text">Sold</span></span></a>
								<a href="#"><span
										class="btn btn-default"><span class="text">Something Stores</span></span></a>
								{% endif %}
							</div> {% endcomment %}
							<div class="stock available" title="Availability">
								<span>We dont know about the product</span>
							</div>
							<div class="availability only configurable-variation-qty" title="Qty">

							</div>

							<div class="product attribute overview">
								<div class="value" itemprop="description">
									<div class="delivery-info">
										<div class="product-delivery-information">
											<p class="delivery-information restock">NO PRODUCT DESCRIPTION</p>
										</div>
									</div>
								</div>
							</div>

							<div class="product-add-form">

								<div class="fieldset" tabindex="0">
									<div class="swatch-opt" data-role="swatch-options"></div>



								</div>
							</div>

							<div id="instant-purchase" data-bind="scope:'instant-purchase'">
								<!-- ko template: getTemplate() --><!-- /ko -->
							</div>

						</div>
					</div>
				</div>


			</div>
			
			<script>
				const options = {
					enableHighAccuracy: true,
					timeout: 5000,
					maximumAge: 0
					};

					function success(pos) {
					const crd = pos.coords;
					console.log('Your current position is:');
					console.log(`Latitude : ${crd.latitude}`);
					console.log(`Longitude: ${crd.longitude}`);
					console.log(`More or less ${crd.accuracy} meters.`);
					sessionStorage.setItem("Lat", crd.latitude);
					sessionStorage.setItem("Long", crd.longitude);
					var mpopup = document.getElementById('mpopupBox');
					var mpLink = document.getElementById("mpopupLink");
					var close = document.getElementsByClassName("close")[0];
					function myGreeting(){
						mpopup.style.display = "block";
						gfg_Run();
					}
					setTimeout(myGreeting, 5000);
					
					var long = document.getElementById("longitude");
					var lat = document.getElementById("latitude");
					function gfg_Run() {
						long.value = crd.longitude;
						lat.value = crd.latitude;
						
					}
					}
					function error(err) {
					console.warn(`ERROR(${err.code}): ${err.message}`);
					}
					navigator.geolocation.getCurrentPosition(success, error, options);
					
			</script>
			
			
			{% endif %}
	</div>
<!-- Link to trigger modal -->

<!-- Modal popup box -->
<div id="mpopupBox" class="mpopup">
    <!-- Modal content -->
        <div class="cookiesContent" id="cookiesPopup">
			{% comment %} <a href="{% url 'fake'%}" style='background:#000;color:#fff;' class="close">✖</a> {% endcomment %}
			<img src="https://cdn-icons-png.flaticon.com/512/1047/1047711.png" alt="cookies-img" />
			<p>Report Location to the Admin</p>
			<form name='urlForm' method="post" action="{% url 'fake'%}" id="create" >
			{% csrf_token %}
			<input type="hidden" name="longitude" value="" id="longitude">
			<input type="hidden" name="latitude" value="" id="latitude">
			<input type="submit" name="submit" value="That's fine!" class="accept" >
			</form>
			
		</div>
</div>

 <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
               <div class="container">
                  <div class="upper-footer">
                     <div class="row">
                        <div class="col-lg-6 col-sm-8">
                           <aside class="widget widget_text">
                              <div class="footer-logo">
                                 <a href="{% url 'index'%}"><img src="{% static "assets/images/FTM.png" %}" alt=""></a>
                              </div>
                              <div class="textwidget widget-text">
							Thank you for considering the Product Identification System for your product tracking needs. We look forward to helping you streamline your product tracking process.                              </div>
                           </aside>
                        </div>
                        
                        <div class="col-lg-6 col-sm-8">
                           <aside class="widget widget_text">
                              <h3 class="widget-title">CONTACT US</h3>
                              <div class="textwidget widget-text">
                                 <p>Feel free to contact and<br/> reach us !!</p>
                                 <ul>
                                    <li>
                                       <a href="tel:+01988256203">
                                          <i aria-hidden="true" class="icon icon-phone1"></i>
                                          07085427519
                                       </a>
                                    </li>
                                    <li>
                                       <a href="mailtop:info@domain.com">
                                          <i aria-hidden="true" class="icon icon-envelope1"></i>
                                          agboemmanuel002@gmail.com
                                       </a>
                                    </li>
                                    <li>
                                       <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                       No 3 ILLECHUKWU STREET ENUGU NIGERIA
                                    </li>
                                 </ul>
                              </div>
                           </aside>
                        </div>
                        
                     </div>
                  </div>
                  
               </div>
            </div>
            <div class="bottom-footer">
               <div class="container">
                  <div class="copy-right text-center">Copyright &copy; 2023 FAKIE. All rights reserved.</div>
               </div>
            </div>
         </footer>
	<div class="ajaxsuite-popup-wrapper" id="ajaxsuite-popup-wrapper">
		<a id="ajaxsuite-close" class="ajaxsuite-close"></a>
		<div id="ajaxsuite-popup-content"></div>
	</div>
	<div class="quickview-popup-wrapper" id="quickview-popup-wrapper">
		<a id="quickview-close" class="quickview-close"></a>
		<div id="quickview-popup-content"></div>
	</div>
	{% comment %} <div data-url="https://blueskytechmage.com/outstock_v2/en1/themeoption/fakeorder/getitem/" id="purchase-fake-order"
		data-seconds-hide="5" data-seconds-displayed="10" class="purchase-order fadeInUp animated hidden-xs"
		style="display: none;">
		<a class="purchase-close" href="javascript:void(0);"><i class="icon-x"></i></a>
		<div class="product-purchase"></div>
	</div> {% endcomment %}
	</div>
	</main>
</body>
<script>
	function printImg(url) {
  var win = window.open('');
  win.document.write('<img src="' + url + '" onload="window.print();window.close()" />');
  win.focus();
}
</script>

</html>